.container-1 {
  float: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url("homepage-background-image.png");
  background-color: #cccccc;
  font-family: Verdana, sans-serif;
  width: 960px;
  heigh: 1700px;
}

.navbar {
  overflow: hidden; 
  background-color: white; 
  opacity: 0.5;
}

.navbar a {
  float: left; 
  color: black; 
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding: 14px 20px; 
  text-decoration: none; 
}

.navbar a.right {
  float: right; 
  color: white;
  font-weight: bold;
  background-color: brown;
}

.navbar a:hover {
  background-color: black;
  color: white; 
  text-decoration: none; 
}

.center {
  width: 20%; 
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px
}

.heading {
font-size: 48px;
text-align: center;
color: gray;
}

.button {
  background-color: #555555;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 50px;
}

.img-container {
  text-align: center;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
      }
      
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 400px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.shop-icon {
  width:20%;
  height: auto;
  text-align: center;
  }
  
.email {
  width:20%;
  height: auto;
  text-align: center;
  }
  
.instagram {
  width:20%;
  height: auto;
  text-align: center; 
}

.facebook {
  width:18%;
  height: auto;
  text-align: center; 
}

.twitter {
  width:20%;
  height: auto;
  text-align: center; 
}

.footer {
  float: left;
  text-align: left;
  padding: 20px 20px;
  background-color: black;
  color: white;
  padding-top:20px;
  margin-left: 20px;
  }
  
.creditcards {
float: right;
width: 30%;
height: auto;
padding-bottom: 20px;
padding-right: 20px;
}

.story-para {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  color: black; 
}

.container-2 {
  float: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
  font-family: Verdana, sans-serif;
  width: 960px;
  heigh: 1700px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #DD8787;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.thankyouimage {
  float: center;
  width:50%;
  height: auto;
  text-align: center; 
}

.card-left {
text-align: left;
padding-left: 20px;
color: #DD8787;
background-color: #EEEEEE;
padding-top: 20px;
}

.card-image-left {
float: left;
text-align: left;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
width: 50%;
height: auto;
}

.body-text-left {
color: black;
text-align: left;
font-size: 14px;
padding-right: 20px;
padding-bottom: 20px;
}

.card-right {
background-color: white;
padding-top: 5px;
text-align: left;
padding-left: 30px;
}

.card-image-right {
float: right;
text-align: right;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
width: 50%;
height: auto;
}

.body-text-right {
color: black;
text-align: left;
font-size: 14px;
padding-bottom: 20px;
}


   